<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
        <!-- SesionServlet por defecto-->
        <!--<welcome-file>/index.html</welcome-file>-->
    </welcome-file-list>
    
    <!-- Filtro de acceso -->
    <filter>
        <filter-name>FiltroAcceso</filter-name>
        <filter-class>repositorio.controlador.filtros.FiltroAcceso</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAcceso</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--Filtro COR extra-->
<!--    <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>repositorio.controlador.filtros.CorsFilter</filter-class>
    <init-param>
        <param-name>cors.allowed.headers</param-name>
        <param-value>Accept,Accept-Encoding,Accept-Language,Access-Control-Request-Method,Access-Control-Request-Headers,Authorization,Connection,Content-Type,Host,Origin,Referer,Token-Id,User-Agent, X-Requested-With</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.origins</param-name>
        <param-value>*</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.methods</param-name>
        <param-value>GET, POST, PUT, DELETE, OPTIONS, HEAD</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>-->
    
    <!-- Páginas de error-->
    <error-page>
        <error-code>500</error-code>
        <location>/error500.html</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error401.html</location>
    </error-page>
    <error-page>
        <location>/error404.html</location>
    </error-page>
    
    <!-- Servlets name-class -->
    <!--Los servlet están mapeados en sus clases, por lo que esta información es redundante -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>repositorio.controlador.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>repositorio.controlador.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>repositorio.controlador.servlets.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>repositorio.controlador.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasarelaServlet</servlet-name>
        <servlet-class>repositorio.controlador.servlets.PasarelaServlet</servlet-class>
    </servlet>
    
  
    <!-- Servlets mapping -->
    <!--Los servlet están mapeados en sus clases, por lo que esta información es redundante -->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasarelaServlet</servlet-name>
        <url-pattern>/webresources/media</url-pattern>
    </servlet-mapping>
    
    <!-- Tiempo de sesión (Por defecto 30) Lo cambio para pruebas-->
    <!--Sesion: Dejarlo en 30 cuando terminen las pruebas de TimeOut-->
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <!-- Pool de conexiones -->
    <resource-ref>
        <description>Pool conexiones MySQL</description>
        <res-ref-name>jdbc/ConexionMySQL</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
